<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 p-5 bg-primary text-white text-center"><p class="h1 text-center mt-auto">Bienvenidos al Aula ATECA del IES Campanillas</p></div>
        <div class="col-12 col-md-6 p-5 bg-dark text-white"><img src="aulaateca.jpg" class="d-block ms-auto me-auto" style="max-width: 100%; height: auto;"><p class="mt-4">El Aula ATECA (Aula de Tecnología Aplicada) del IES Campanillas es un espacio innovador diseñado para acercar al alumnado a las tecnologías más punteras del entorno profesional.</p></div>
    </div>
</div>

<div class="container">
  <p class="h4 mt-4 text-center">Equipado con herramientas de última generación:</p>
  <div class="row">
    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-custom mt-4 col-12 col-md-8">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="gafasvirtuales.jpg" class="d-block w-100">
            <div class="carousel-caption d-sm-block">
              <p class="fw-bolder opacity-75 border border-black p-3 mb-2 badge text-bg-primary text-wrap" style="width: 80%;">Gafas de realidad virtual</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="impresion3d.jpg" class="d-block w-100">
            <div class="carousel-caption d-sm-block">
                  <p class="fw-bolder opacity-75 border border-black p-3 mb-2 badge text-bg-primary text-wrap" style="width: 80%;">Impresión 3D</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="croma.jpg" class="d-block w-100">
            <div class="carousel-caption d-sm-block">
                  <p class="fw-bolder opacity-75 border border-black p-3 mb-2 badge text-bg-primary text-wrap" style="width: 80%;">Croma y set de grabación</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="conferencia.jpg" class="d-block w-100">
            <div class="carousel-caption d-sm-block">
                <p class="fw-bolder opacity-75 border border-black p-3 mb-2 badge text-bg-primary text-wrap" style="width: 80%;">Pizarra de videoconferencias</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="rincondepensar.jpg" class="d-block w-100">
            <div class="carousel-caption d-sm-block">
                <p class="fw-bolder opacity-75 border border-black p-3 mb-2 badge text-bg-primary text-wrap" style="width: 80%;">Rincón de pensar</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="col-12 col-md-4 mt-4">
        <h3 class="ms-md-4 fw-bolder text-decoration-underline">INFO:</h3>
        <ul>
          <li class="fw-medium mt-4 text-justify">Gafas virtuales con tecnología META.</li>
          <li class="fw-medium mt-3 text-justify">Una impresora 3D de marca ELEGOO y una depuradora de marca CREALITY para las figuras creadas.</li>
          <li class="fw-medium mt-3 text-justify">Un croma junto con un set de grabación para la realización de proyectos audiovisuales.</li>
          <li class="fw-medium mt-3 text-justify">Pizarra para hacer videoconferencias de gran calidad.</li>
          <li class="fw-medium mt-3 text-justify">El rincón de pensar, un sitio en el cual el alumno descansa de la tecnología para estar en sus propios pensamientos.</li>
        </ul>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
      <div class="col-12 col-md-6 p-5 bg-dark text-white"><img src="prof.jpg" class="d-block ms-auto me-auto imagen-ajustada"><p class="mt-4">Aquí, el alumnado puede experimentar, crear y desarrollar proyectos reales que simulan situaciones del mundo laboral, fomentando la adquisición de competencias digitales, técnicas y profesionales.</p></div>
      <div class="col-12 col-md-6 p-5 bg-primary text-white text-center"><p class="h2 text-center mt-auto">Además, se promueve el trabajo en equipo, la resolución de problemas y la innovación.</p><img src="yo.jpg" class="d-block ms-auto me-auto mt-3 imagen-ajustada"></div>
  </div>
</div>

<div class="container-sm text-center mt-4">
    <button type="button" class="btn btn-primary w-md-auto" (click)="reservar()">Reservar</button>
</div>

