<footer class="bg-dark text-white py-5 mt-4">
  <div class="container">
    <div class="row text-center text-md-start">
      
      <div class="col-12 col-md-4 mb-4">
        <h5>INFORMACIÓN</h5>
        <p class="mb-1">
          IES Campanillas<br>
          C/ Fausto 45, 29590 Málaga (España)<br>
          Teléfono: 
          <a href="tel:+34951298460" class="text-white text-decoration-none">951 29 84 60</a>
        </p>
        <p>
          <a href="#" class="text-white text-decoration-underline">Contacto</a>
        </p>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <h5>PAGINA WEB IES CAMPANILLAS</h5>
        <ul class="list-unstyled">
          <li>» <a href="https://iescampanillas.com/" class="text-white text-decoration-none">Centro</a></li>
          <li>» <a href="https://iescampanillas.com/secretaria/" class="text-white text-decoration-none">Secretaría</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <h5>OTRAS OPCIONES</h5>
        <ul class="list-unstyled">
          <li>» <a href="https://iescampanillas.com/#" class="text-white text-decoration-none">Planes y Proyectos</a></li>
          <li>» <a href="https://fpalanturing.es/" class="text-white text-decoration-none">FP PTA</a></li>
          <li>» <a href="https://iescampanillas.com/aula-virtual/" class="text-white text-decoration-none">Aula Virtual</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
